page-resources {
    .main-resource {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: Montserrat;
        text-align: center;
        line-height: 16px;
        color: #383838;
    }

    .box-res {
        border: 1px solid #d3ac65;
        padding: 26px 5px;
        text-align: center;
        max-width: auto;
        width: 174px;
        margin-left: 18%;
        border-radius: 4px;
        height: auto;
        margin-bottom: 24px;
        font-family: Montserrat;
        text-transform: capitalize;
        font-size: 12px;
        background: #fff;
        color: #383838;
    }

    ion-icon.icon.icon-ios.ion-ios-document {
        font-size: 30px;
        color: #d3ac65;
    }
   
}
